<div class="back-home">
    <a href="/dashboard">Return to Dashboard</a>
</div>

<div class="container">

    <div class="filterEntries">
        <div class="entries">
            Show <select name="" id="table_size">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select> entries
        </div>

        <div class="filter">
            <label for="search">Search:</label>
            <input type="search" name="" id="search" placeholder="Enter name/city/post">
        </div>
    </div>


    <table>

        <thead>
            <tr class="heading">
                <th>Business Name</th>
                <!-- <th>Email</th> -->
                <th>Business Mobile</th>
                <th>Country</th>
                <th>Industry Type</th>
                <th>Applied Date</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        </thead>


        <tbody class="userInfo">
           
            <% if (businessloans.length > 0) { %>
                <% businessloans.forEach(businessloan => { %>
                    <tr>
                        <td><%= businessloan.businessname %></td>
                        <td><%= businessloan.phonenumber %></td>
                        <td><%= businessloan.businesscountry %></td>
                        <td><%= businessloan.indsutrytype %></td>
                        <td><%= businessloan.requestamount %></td>
                        <td><%= businessloan.createdAT %></td> 
                        <td>
                            <button type="button" id="modalBtn" data-target="#dataModal<%= businessloan._id %>"><i class="fa-regular fa-eye"></i></button>
                            <button><i class="fa-regular fa-pen-to-square"></i></button>
                            <button type="button"><a class="delete" data-doc="<%= businessloan._id %>"><i class="fa-regular fa-trash-can"></i></a></button>
                        </td>
                    </tr>

                    <!-- The Modal -->
                    <div id="dataModal<%= personalloan._id %>" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                        
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h2 class="modal-title">User Details</h2>
                                <span class="close">&times;</span>
                            </div> 
                            <div class="modal-body">
                                <p><strong>Applied Date:</strong> <%= personalloan.createdAT %></p>
                                <p><strong>Business Name:</strong> <%= businessloan.businessname %></p>
                                <p><strong>Business Legal Name:</strong> <%= businessloan.businesslegalname %></p>
                                <p><strong>Business Country:</strong> <%= businessloan.businesscountry %></p>
                                <p><strong>Business Address:</strong> <%= businessloan.businessaddress %></p>
                                <p><strong>Business City:</strong> <%= businessloan.businesscity %></p>
                                <p><strong>Business State:</strong> <%= businessloan.businessstate %></p>
                                <p><strong>Business Zip Code:</strong> <%= businessloan.businesszipcode %></p>
                                <p><strong>Business Mobile:</strong> <%= businessloan.businessphonenumber %></p>
                                <p><strong>Business Website:</strong> <%= businessloan.businesswebsite %></p>
                                <p><strong>Business Tax ID:</strong> <%= businessloan.taxidnumber %></p>
                                <p><strong>Business Annual Revenue:</strong> <%= businessloan.annualrevenue %></p>
                                <p><strong>Entity:</strong> <%= businessloan.entity %></p>
                                <p><strong>Industry Type:</strong> <%= businessloan.industrytype %></p>
                                <p><strong>Business Start Date:</strong> <%= businessloan.businessstartdate %></p>
                                <p><strong>Request Amount:</strong> <%= businessloan.requestamount %></p>
                                <p><strong>Use of Fund:</strong> <%= businessloan.useoffund %></p>
                                <p><strong>Business Ownership:</strong> <%= businessloan.businessownership %></p>

                                <h2 class="busdata-title">Personal Information</h2>

                                <p><strong>Name:</strong> <%= businessloan.firstname %> <%= businessloan.lastname %></p>
                                <p><strong>Email:</strong> <%= businessloan.email %></p>
                                <p><strong>Mobile:</strong>  <%= businessloan.phonenumber %></p>
                                <p><strong>Country:</strong> <%= businessloan.country %></p>
                                <p><strong>Home Address:</strong> <%= businessloan.homeaddress %></p>
                                <p><strong>State:</strong> <%= businessloan.state %></p>
                                <p><strong>City:</strong> <%= businessloan.city %></p>
                                <p><strong>Zip Code:</strong> <%= businessloan.zipcode %></p>
                                <p><strong>National Identity Number:</strong> <%= businessloan.ninnumber %></p>
                                <p><strong>DOB:</strong> <%= businessloan.dob %></p>
                                <p><strong>Loan Amount:</strong> <%= businessloan.loanamount %></p>
                                <p><strong>Lowest Revenue:</strong> <%= businessloan.lowestrevenue %></p>
                                <p><strong>Informed Method:</strong> <%= businessloan.informedmethod %></p>
                                <p><strong>Credit Score:</strong> <%= businessloan.creditscore %></p>
                                <p><strong>Communication Method:</strong> <%= businessloan.commethod %></p>
                                <p><strong>Bank Account:</strong> <%= businessloan.bankaccount %></p>
                                <p><strong>Credit Card:</strong> <%= businessloan.creditcard %></p>
                                <p><strong>Account Name:</strong> <%= businessloan.accountname %></p>
                                <p><strong>Fund Type:</strong> <%= businessloan.fundtype %></p>
                                <p><strong>Monthly Revenue:</strong> <%= businessloan.monthlyrevenue %></p>
                                <p>
                                    <strong>Uploaded Documents:</strong>
                                    <div class="gallery">
                                        <% businessloan.images.forEach(image => { %>
                                        <div style="margin: 10px;">
                                            <img src="<% image %>" alt="Uploaded Documents" class="uploaded-img">
                                        </div>
                                        <% }) %>
                                    </div>
                                </p>  
                            </div>
                            <a href="#" class="close-btn">Close</a> 
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <tr>
                    <td class="empty" colspan="11">No data <i class="fa-solid fa-folder"></i></td>
                </tr> 
            <% } %>
        </tbody>

    </table>


    <footer>
        <span class="showEntries">Showing 1 to 10 of 50 entries</span>
        <div class="pagination">
            <button><i class="fa-solid fa-arrow-left"></i></button>
            <button class="pag-active">1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </footer>
</div>


  
  
  <script>
    //Handle delete
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/businessloandata/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    
</script>