<div class="back-home">
    <a href="/dashboard">Return to Dashboard</a>
</div>

<div class="container">

    <div class="filterEntries">
        <div class="entries">
            Show <select name="" id="table_size">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select> entries
        </div>

        <div class="filter">
            <label for="search">Search:</label>
            <input type="search" name="" id="search" placeholder="Enter name/city/post">
        </div>
    </div>


    <table>

        <thead>
            <tr class="heading">
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Country</th>
                <th>DOB</th>
                <th>Applied Date</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        </thead>


        <tbody class="userInfo">
            <!-- <tr class="data-hidden"><td class="empty" colspan="11">No data <i class="fa-solid fa-folder"></i></td></tr> -->
            <tr>
                <% if (personalloans.length > 0) { %>
                    <% personalloans.forEach(personalloan => { %>
                      <!-- <a class="single" href="/blogs/<%= personalloan._id %>"> -->
                        <td><%= personalloan.firstname %> <%= personalloan.lastname %></td>
                        <td><%= personalloan.email %></td>
                        <td><%= personalloan.phonenumber %></td>
                        <td><%= personalloan.country %></td>
                        <td><%= personalloan.dob %></td>
                        <td><%= personalloan.createdAt %></td>
                        <td><%= personalloan.loanamount %></td>
                        <td>
                            <button id="modalBtn"><i class="fa-regular fa-eye"></i></button>
                            <button><i class="fa-regular fa-pen-to-square"></i></button>
                            <button><i class="fa-regular fa-trash-can"></i></button>
                        </td>
                      <!-- </a> -->
                    <% }) %>
                <% } else { %>
                    <td class="empty" colspan="11">No data <i class="fa-solid fa-folder"></i></td>
                <% } %>
            </tr>

            <tr>
                <td>1</td>
                <td>John Doe</td>
                <td>dreey@greenenergy.com</td>
                <td>+2349045454545</td>
                <td>United State</td>
                <td>03-08-2024</td>
                <td>$25000</td>
                <td>
                    <button><i class="fa-regular fa-eye" id="modalBtn"></i></button>
                    <button><i class="fa-regular fa-pen-to-square"></i></button>
                    <button><i class="fa-regular fa-trash-can"></i></button>
                </td>
            </tr>
        </tbody>

    </table>


    <footer>
        <span class="showEntries">Showing 1 to 10 of 50 entries</span>
        <div class="pagination">
            <button><i class="fa-solid fa-arrow-left"></i></button>
            <button class="pag-active">1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </footer>
</div>


<!--Popup Data-->
<!-- The Modal -->
<div id="dataModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="close-parent">
        <span class="close">&times;</span>
    </div>
    <p>Some text in the Modal.. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ex officia delectus aspernatur expedita inventore ea at natus illo recusandae atque perferendis, exercitationem unde, repellendus obcaecati nemo quasi explicabo nihil.</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <!-- <% if (personalloans.length > 0) { %>
        <% personalloans.forEach(personalloan => { %>
            <p>Registrated Date: <%= personalloan.createdAT %></p>
            <p>Name: <%= personalloan.firstname %> <%= personalloan.lastname %></p>
            <p> Email: <%= personalloan.email %></p>
            <p>Mobile:  <%= personalloan.phonenumber %></p>
            <p>Country: <%= personalloan.country %></p>
            <p>Home Address: <%= personalloan.homeaddress %></p>
            <p>State: <%= personalloan.state %></p>
            <p>City: <%= personalloan.city %></p>
            <p>Zip Code: <%= personalloan.zipcode %></p>
            <p>National Identity Number: <%= personalloan.ninnumber %></p>
            <p>DOB: <%= personalloan.dob %></p>
            <p>Loan Amount: <%= personalloan.loanamount %></p>
            <p>Agent: <%= personalloan.agent %></p>
            <p>Agent ID: <%= personalloan.agentid %></p>
            <p>Credit Score: <%= personalloan.creditscore %></p>
            <p>Communication Method: <%= personalloan.commethod %></p>
            <p>Bank Account: <%= personalloan.bankaccount %></p>
            <p>Credit Card: <%= personalloan.creditcard %></p>
            <p>Account Name: <%= personalloan.accountname %></p>
            <p>Fund Type: <%= personalloan.fundtype %></p>
            <p>Monthly Revenue: <%= personalloan.monthlyrevenue %></p>
            <p> Images: <%= personalloan.images %></p>
        <% }) %>
    <% } %> -->

  </div>

</div>


<script>
    // Get the modal
    var modal = document.getElementById("dataModal");
    
    // Get the button that opens the modal
    var btn = document.getElementById("modalBtn");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>