<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--Font awesome icons-->
<script src="https://kit.fontawesome.com/03ef1958af.js" crossorigin="anonymous"></script>
<!--Styles-->
<link rel="stylesheet" href="/styles/admindashboardstyles.css" />
<title> <%= title %> </title>
<!--Scripts-->
<script src="/scripts/admindashboard.js" defer></script>
<!--Modal script-->
<script src="/scripts/modal.js" defer></script>
</head>
<body>

    <!--Include admin header-->
    <%- include("../partials/adminpartials/adminheader.ejs") %>
    <%- include("../partials/adminpartials/adminnav.ejs") %>
    <%- body %>

    <!--Include admin footer-->
    <%- include("../partials/adminpartials/adminfooter.ejs") %>

</body>
</html>